.navbar {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 30;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 28px 55px;

  opacity: 0;

  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65),
      transparent
    );

  transition: opacity 1s ease;
}


body.experience-ready .navbar {
  opacity: 1;
}


.logo {
  color: #ffffff;

  font-size: 22px;
  font-weight: 700;

  letter-spacing: 4px;
  text-decoration: none;
}


.navbar nav {
  display: flex;
  gap: 35px;
}


.navbar nav a {
  position: relative;

  color: #ffffff;

  font-size: 14px;

  letter-spacing: 1px;
  text-decoration: none;
}


.navbar nav a::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0;
  height: 1px;

  background: #ffffff;

  transition: width 0.3s ease;
}


.navbar nav a:hover::after {
  width: 100%;
}